<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Payment :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="payment.component.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

<body>
	
<!--
	<div class="privacy py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
		 tittle heading 
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>P</span>ayment</h3>
			
			<div class="checkout-right">
			
				<div id="parentHorizontalTab">
					<div class="resp-tabs-container hor_1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
							 <form action="#" method="post" class="creditly-card-form agileinfo_form">
								<div class="creditly-wrapper wthree, w3_agileits_wrapper">
									<div class="credit-card-wrapper">
										<div class="first-row form-group">
											<div class="controls">
												<label class="control-label">Name on Card</label>
												<input class="billing-address-name form-control" type="text" name="name" placeholder="John Smith">
											</div>
											<div class="w3_agileits_card_number_grids my-3">
												<div class="w3_agileits_card_number_grid_left">
													<div class="controls">
														<label class="control-label">Card Number</label>
														<input class="number credit-card-number form-control" type="text" name="number" inputmode="numeric" autocomplete="cc-number"
														    autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
													</div>
												</div>
												<div class="w3_agileits_card_number_grid_right mt-2">
													<div class="controls">
														<label class="control-label">CVV</label>
														<input class="security-code form-control" Â· inputmode="numeric" type="text" name="security-code" placeholder="&#149;&#149;&#149;">
													</div>
												</div>
												<div class="clear"> </div>
											</div>
											<div class="controls">
												<label class="control-label">Expiration Date</label>
												<input class="expiration-month-and-year form-control" type="text" name="expiration-month-and-year" placeholder="MM / YY">
											</div>
										</div>
                                        <div class="col-10 agileits_search">
                                            <form class="form-inline" action="#" method="post">
                                               <button class="btn my-2 my-sm-0" type="submit">Payer</button>
                                            </form>
                                          </div>
									</div>
								</div>
							</form>
                              </div>
                            </div>
                        
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
 //payment page -->

 <div class="col-md-6" *ngIf="currentOrder">
	<form #f="ngForm" (ngSubmit)="onParOrder(f.value)">
	  <div class="form-group">
		<label class="control-label">Type:</label>
		<select name="type" ngModel class="form-control">
		  <option value="Visa">Visa</option>
		  <option value="Cmi">Cmi</option>
		  <option value="Cmi">Cmi</option>
		</select>
	  </div>
	  <div class="form-group">
		<label class="control-label">Card Number:</label>
		<input type="text" name="cardNumber" ngModel class="form-control">
	  </div>
		<div class="form-group">
		  <label class="control-label">Code Verif:</label>
		  <input type="text" name="codeVerif" ngModel class="form-control">
		</div>
		<div class="form-group">
		  <label class="control-label">Amount:</label>
		  <input type="text" name="amount" ngModel class="form-control" [(ngModel)]="currentOrder.totalAmount">
		</div>
		<button  type="submit"  (click)="Payer()" class="btn btn-primary">Payer</button>
	</form>
  </div>
  <div class="panel {{panelStyle}}" *ngIf="mode==1">
	<div class="panel-heading">Récap de votre commande</div>
	<div class="panel-body">
	  <div class="col-md-5">
		<div class="form-group">
		  <label>Nom du Client :</label>
		  <label>{{orderService.order.client.name}}</label>
		</div>
		<div class="form-group">
		  <label>Adresse Client :</label>
		  <label>{{orderService.order.client.address}}</label>
		</div>
		<div class="form-group">
		  <label>Tel Client :</label>
		  <label>{{orderService.order.client.phoneNumber}}</label>
		</div>
		<div class="form-group">
		  <label>Email :</label>
		  <label>{{orderService.order.client.email}}</label>
		</div>
	  </div>
	  <div class="col-md-5">
		<div class="form-group">
		  <label>Order ID :</label>
		  <label>{{orderService.order.id}}</label>
		</div>
		<div class="form-group">
		  <label>Order Date :</label>
		  <label>{{orderService.order.date}}</label>
		</div>
	  </div>
  
	</div>
	<div class="panel-body">
	  <table class="table table-striped">
		<tr>
		  <th>ID</th>
		  <th>Désignation</th>
		  <th>Quantité</th>
		  <th>Prix</th>
		</tr>
		<tr *ngFor="let p of orderService.order.products">
		  <td>{{p.id}}</td><td>{{p.name}}</td>
		  <td>{{p.quantity|number:'0.2'}}</td>
		  <td>{{p.price|number:'0.2'}}</td>
		</tr>
		<tr>
		  <td colspan="3">Total:</td>
		  <td>{{orderService.getTotal()|number:'0.2'}}</td>
		</tr>
	  </table>
	  <button class="btn btn-success" (click)="onOrder()" *ngIf="!orderService.order.id">Confirmer la commande</button>
	  <button class="btn btn-success" (click)="onPayOrder()" *ngIf="orderService.order.id">Payer la Commande</button>
	</div>
  </div>
	  
	
	

</body>

</html>