<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Payment :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="payment.component.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="payment.component.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

<body>

	<div>
     <img src="../assets/images/b11.jpg" width="1400" height="200">
	</div>
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">

		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>P</span>ayement
			</h3>

		<div class="w3-row">
		  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Avec carte</div>
		  </a>
		  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Compte paypal</div>
		  </a>
		  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Cash à la livraison</div>
		  </a>
		</div>

		<div id="London" class="w3-container city" style="display:none">
			<div id="tab4" class="tab-grid" style="display: block;">
				<div class="row">
			<div class="col-md-6 pay-forms">
				<br> <br> <br>
				<img class="pp-img" src="../assets/images/carte.jpg" alt="Image Alternative text" title="Image Title" >

			</div>

			<div class="col-md-6 number-paymk" *ngIf="currentOrder">
				<form #f="ngForm" (ngSubmit)="onParOrder(f.value)" class="creditly-card-form agileinfo_form">
					<div class="creditly-wrapper wthree, w3_agileits_wrapper">
						<div class="credit-card-wrapper">
						<div class="form-group">
					       <label class="control-label">Type</label>
					         <select name="type" ngModel class="form-control">
					            <option value="Visa">Visa</option>
								<option value="Cmi">Cmi</option>
								<option value="Cmi">Master card</option>
					          </select>
				  </div>
				  <div class="controls">
					<label class="control-label">Numero carte</label>
					<input type="text" name="cardNumber" ngModel class="billing-address-name form-control">
				  </div>
					<div class="form-group">
					  <label class="control-label">Code Verification</label>
					  <input type="text" name="codeVerif" ngModel class="form-control">
					</div>
					<div class="form-group">
					  <label class="control-label">Montant</label>
					  <input type="text" name="amount" ngModel class="form-control" [(ngModel)]="currentOrder.totalAmount">
					</div>
					<button  type="submit"  (click)="Payer()" class="btn btn-primary">Payer</button>
					</div>
				</div>
				</form>
			  </div>
		</div>
		</div>
		</div>

		<div id="Paris" class="w3-container city" style="display:none">
			<div *ngIf="currentOrder">
				<div id="tab4" class="tab-grid" style="display: block;">
					<div class="row">
						<div class="col-md-6 pay-forms">
							<img class="pp-img" src="../assets/images/paypal.png" alt="Image Alternative text" title="Image Title">
							<p>Important: Vous serez peut etre redirigé vers le site Web de PayPal pour effectuer votre paiement en toute sécurité.</p>
							<a class="btn btn-primary">Checkout via Paypal</a>
						</div>
						<div class="col-md-6 number-paymk">
							<form #f="ngForm" (ngSubmit)="onParOrder(f.value)" class="creditly-card-form-2 shopf-sear-headinfo_form">
								<section class="creditly-wrapper payf_wrapper">
									<div class="credit-card-wrapper">
										<div class="first-row form-group">
											<div class="controls">
												<label class="control-label">Nom </label>
												<input name="type" ngModel class="billing-address-name form-control" type="text" name="name" placeholder="John Smith">
											</div>
											<div class="paymntf_card_number_grids my-2">
												<div class="fpay_card_number_grid_left">
													<div class="controls">
														<label class="control-label">Numero Carte</label>
														<input name="cardNumber" ngModel class="number credit-card-number-2 form-control" type="text" name="number" inputmode="numeric" autocomplete="cc-number"
															autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="•••• •••• •••• ••••">
													</div>
												</div>
												<div class="fpay_card_number_grid_right mt-2">
													<div class="controls">
														<label class="control-label">Code verification</label>
														<input name="codeVerif" ngModel class="security-code-2 form-control" Â·="" inputmode="numeric" type="text" name="security-code" placeholder="•••">
													</div>
												</div>
												<div class="fpay_card_number_grid_right mt-2">
													<div class="controls">
														<label class="control-label">Montant</label>
														<input name="amount" ngModel class="security-code-2 form-control"  [(ngModel)]="currentOrder.totalAmount">
													</div>
												</div>
												<div class="clear"> </div>
											</div>

										</div>
										<input class="submit" (click)="Payer()" type="submit" value="Payer">
									</div>
								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="Tokyo" class="w3-container city" style="display:none">

		  <p>Payement à la livraison</p>
		  <input class="submit" (click)="Payer()" type="submit" value="Confirmer">
		</div>


</div>
	</div>
 <div class="row">
	 <div class="agileinfo-ads-display " *ngIf="mode==1">
         <div class="wrapper">
             <div class="panel-heading">Récap de votre commande</div>
	             <div class="panel-body">
	                 <div class="col-md-5">
		                  <div class="form-group">
								<label>Nom du Client </label>
								<label>{{orderService.order.client.name}}</label>
		                   </div>
		                    <div class="form-group">
								<label>Adresse Client </label>
								<label>{{orderService.order.client.address}}</label>
							</div>
							<div class="form-group">
								<label>Tel Client </label>
								<label>{{orderService.order.client.phoneNumber}}</label>
							</div>
							<div class="form-group">
								<label>Email </label>
								<label>{{orderService.order.client.email}}</label>
							</div>
	                 </div>
	  <div class="col-md-5">
		<div class="form-group">
		  <label>Order Date </label>
		  <label>{{orderService.order.date}}</label>
		</div>
	  </div>

	</div>
	<div  class="table-responsive">
	  <table class="timetable_sub">
		<tr>
		  <th>ID</th>
		  <th>Désignation</th>
		  <th>Quantité</th>
		  <th>Prix</th>
		</tr>
		<tr *ngFor="let p of orderService.order.products">
		  <td>{{p.id}}</td><td>{{p.name}}</td>
		  <td>{{p.quantity|number:'0.2'}}</td>
		  <td>{{p.price|number:'0.2'}}</td>
		</tr>
		<tr>
		  <td colspan="3">Total:</td>
		  <td>{{orderService.getTotal()|number:'0.2'}}</td>
		</tr>
	  </table>
	  <button class="btn btn-success" (click)="onOrder()" *ngIf="!orderService.order.id">Confirmer la commande</button>
	  <button class="btn btn-success" (click)="onPayOrder()" *ngIf="orderService.order.id">Payer la Commande</button>
	</div>
  </div>
		</div>
 </div>







</body>

</html>
